@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');

/* Variaveis no css */
:root{
    --bg-color: hsl(210, 60%, 98%);
    --bg-color-2: hsl(205, 33%, 90%);
    --color-branco:hsl(0, 0%, 100%);
    --color-azul-cinza: hsl(219, 14%, 63%);
    --color-azul-cinza-escuro: hsl(219, 12%, 42%);
    --color-azul-escuro:hsl(219, 85%, 26%);
    --color-azul-claro: hsl(219, 79%, 53%);
    --color-vermelho: hsl(1, 90%, 64%);
}


*{
    padding: 0;
    margin: 0;
}

body{
    padding: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.container{ 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: var(--color-branco);
}

section{
    margin-top: 20px;
    margin-left: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

section h2{
    margin-left: 10px;
    border-radius: 5px;
    color: var(--color-branco);
    text-align: center;
    width: 70px;
    background-color: var(--color-azul-escuro);
}

section div{
    margin-right: 20px;
    display: flex;
    justify-content: end;
    width: 100%;
}

section input{
    display: none;
}

section div label{
    z-index: 1;
    font-family: 'Plus Jakarta Sans', sans-serif;
    border: none;
    color: var(--color-azul-cinza);
    font-size: 16px;
}

section div label:hover{
    cursor: pointer;
    color: var(--color-azul-claro);
}

main{
    padding: 25px;
    margin-top: -40px;
}

main .mark, main .angela, main .jacob{
    background-color: var(--bg-color);
}

main .mark{
    border-radius: 10px;
    width: 620px;
    padding: 15px;
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
}


main .angela, main .jacob, main .rizky, main .kimberly, main .nathan, main .anna{
    border-radius: 10px;
    width: 620px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
}

main img{
    width: 50px;
    height: 50px;
}

main .kimberly{
    justify-content: space-around;
}

main .kimberly h2{
    width: 100%;
}

main .kimberly .kimberly-img:hover{
    cursor: pointer;
}


main .name:hover{
    color: var(--color-azul-escuro);
    cursor: pointer;
}

main h2{
    display: inline-block;
    font-weight: 800;
    margin-left: 20px;
    font-size: 1em;
}

.notification-text{

    font-weight: 500;
    margin-left: 5px;
    color: var(--color-azul-cinza);
    font-size: 1em;
}

.text-azul{
    width: 50%;
    font-weight:800;
    margin-left: 3px;
    color: var(--color-azul-cinza-escuro);
}

.time{
    opacity: 50%;
    color: var(--color-azul-cinza-escuro);
}

.text-club{
    width: 50%;
    font-weight:800;
    margin-left: 3px;
    color: var(--color-azul-escuro);
}

.text-club:hover{
    cursor: pointer;
}

.text-azul:hover{
    cursor: pointer;
    color: var(--color-azul-escuro);
}

.ball-red{
    margin-bottom: 1px;
    margin-left: 3px;
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    background-color: var(--color-vermelho);
    border-radius: 100%;
}

.message{  
    margin-left: 80px; 
    padding: 10px 0px;
    width: 555px;
    color: var(--color-azul-cinza-escuro);
    border: 1px solid var(--color-azul-cinza);
}

.message:hover{   
    background-color: var(--bg-color-2);
    cursor: pointer;
    border: 1px solid var(--bg-color-2);
    border-radius: 5px;
}

/* medias querys */
@media (max-width: 350px){

    .container{
        width: 300px;
    }

    section h1{
        font-size: 0.6em;
    }

    section h2{
        font-size: 0.6em;
        width: 25px;
        border-radius: 3px;
    }

    section div label{
        font-size: 0.6em;
    }

    main{
        padding: 10px;
        margin-top: -40px;
    }
    
    main img{
        width: 30px;
        height: 30px;
    }

    main .mark{
        border-radius: 3px;
        width: 250px;
        padding: 15px;
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 0.6em;
    }
    
    
    main .angela, main .jacob, main .rizky, main .kimberly, main .nathan, main .anna{
        border-radius: 3px;
        width: 250px;
        padding: 15px;
        margin-bottom: 10px;
        font-size: 0.6em;
    }


    .message{  
        margin-top: -20px;
        font-size: 0.6em;
        margin-left: 60px; 
        padding: 5px 0px;
        width: 170px;
        margin-bottom: 15px;
    }

    .message h2{
        margin: 5px;
    }
    
}

@media (min-width: 375px){
    .container{
        width: 300px;
    }

    section h1{
        font-size: 0.6em;
    }

    section h2{
        font-size: 0.6em;
        width: 25px;
        border-radius: 3px;
    }

    section div label{
        font-size: 0.6em;
    }

    main{
        padding: 10px;
        margin-top: -40px;
    }
    
    main img{
        width: 30px;
        height: 30px;
    }

    main .mark{
        border-radius: 3px;
        width: 250px;
        padding: 15px;
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 0.6em;
    }

    main .mark h2, main .angela h2, main .jacob h2, main .rizky h2, main .kimberly h2, main .nathan h2, main .anna h2{
        width: 180px;
    }
    
    
    main .angela, main .jacob, main .rizky, main .kimberly, main .nathan, main .anna{
        border-radius: 3px;
        width: 250px;
        padding: 15px;
        margin-bottom: 10px;
        font-size: 0.6em;
    }

    /* .ball-red{
        margin: 0px;
        width: 0.5em;
        height: 0.5em;
        border-radius: 100%;
    } */
    
    .message{  
        margin-top: -20px;
        font-size: 0.6em;
        margin-left: 60px; 
        padding: 5px 0px;
        width: 170px;
        margin-bottom: 15px;
    }

    .message h2{
        margin: 5px;
    }
    
}

@media (min-width: 425px){
    .container{
        width: 500px;
    }

    section h1{
        font-size: 0.8em;
    }

    section h2{
        font-size: 0.8em;
        width: 50px;
        border-radius: 3px;
    }

    section div label{
        font-size: 0.8em;
    }
    
    main img{
        width: 40px;
        height: 40px;
    }

    main .mark{
        border-radius: 5px;
        width: 300px;
        padding: 15px;
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 0.7em;
    }

    main .mark h2, main .angela h2, main .jacob h2, main .rizky h2, main .kimberly h2, main .nathan h2, main .anna h2{
        width: 200px;
    }
    
    main .angela, main .jacob, main .rizky, main .kimberly, main .nathan, main .anna{
        border-radius: 5px;
        width: 300px;
        padding: 15px;
        margin-bottom: 10px;
        font-size: 0.7em;
    }

    /* .ball-red{
        width: 0.5em;
        height: 0.5em;
        border-radius: 100%;
    } */

    .message{  
        margin-top: -20px;
        font-size: 0.7em;
        margin-left: 70px; 
        padding: 5px 0px;
        width: 240px;
        margin-bottom: 15px;
    }

    .message h2{
        margin: 7px;
    }
}

@media (min-width: 768px){
    .container{
        width: 600px;
    }

    section h1{
        font-size: 1em;
    }

    section h2{
        font-size: 1em;
        width: 50px;
        border-radius: 3px;
    }

    section div label{
        font-size: 1em;
    }
    
    main{
        padding: 20px;
        margin-top: -40px;
    }

    main img{
        width: 50px;
        height: 50px;
    }

    main .mark{
        border-radius: 5px;
        width: 500px;
        padding: 15px;
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 1em;
    }

    main .mark h2, main .angela h2, main .jacob h2, main .rizky h2, main .kimberly h2, main .nathan h2, main .anna h2{
        width: 500px;
    }
    
    main .angela, main .jacob, main .rizky, main .kimberly, main .nathan, main .anna{
        border-radius: 5px;
        width: 500px;
        padding: 15px;
        margin-bottom: 10px;
        font-size: 1em;
    }

    /* .ball-red{
        width: 0.5em;
        height: 0.5em;
        border-radius: 100%;
    } */

    .message{  
        margin-top: -20px;
        font-size: 1em;
        margin-left: 85px; 
        padding: 5px 0px;
        width: 300px;
        margin-bottom: 15px;
    }

    .message h2{
        margin: 7px;
    }
}